appdirs
asgiref
black
certifi
chardet
click
dj-database-url
Django
django-cors-headers
django-oauth-toolkit
djangorestframework
djangorestframework-simplejwt
gunicornls
idna
mypy-extensions
oauthlib
pathspec
psycopg2
PyJWT
pytz
regex
requests
sqlparse
toml
typed-ast
typing-extensions
urllib3
whitenoise